In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("data/final_df_20231215.csv")
df[ 'EventDateTime_soft' ] = pd.to_datetime(df[ 'EventDateTime_soft'], format="%Y-%m-%dT%H:%M:%S%z")
df[ 'EventDateTime_soft' ] = df["EventDateTime_soft"].dt.date

C:\Users\PC\AppData\Local\Temp\ipykernel_15956\617503286.py:1: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/final_df_20231215.csv")

In [13]:
df

,UserId,EventType,EventType.1,EventType.2,EventType.3,EventDateTime,Platform,Platform.1,User.M.Age.N,User.M.Age.N.1,...,DateDifference_portafolioC,ConversionRate_portafolioC,EventType_identityV,EventDateTime_identityV,DateDifference_identityV,ConversionRate_identityV,EventType_accountIF,EventDateTime_accountIF,DateDifference_accountIF,ConversionRate_accountIF
0,1112158,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-01-01 00:32:48+00:00,NaN,NaN,NaN,NaN,...,NaN,28.71,NaN,NaN,NaN,24.75,NaN,NaN,NaN,12.87
1,1112159,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-01-01 00:52:35+00:00,NaN,NaN,27.0,27.0,...,0.0,28.71,IDENTITY_VERIFIED,2023-01-08 15:10:20.931000+00:00,7.0,24.75,NaN,NaN,NaN,12.87
2,1112160,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-01-01 01:07:16+00:00,NaN,NaN,NaN,NaN,...,NaN,28.71,NaN,NaN,NaN,24.75,NaN,NaN,NaN,12.87
3,1112161,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-01-01 01:19:29+00:00,NaN,NaN,NaN,NaN,...,NaN,28.71,NaN,NaN,NaN,24.75,NaN,NaN,NaN,12.87
4,1112162,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-01-01 01:19:39+00:00,NaN,NaN,NaN,NaN,...,NaN,28.71,NaN,NaN,NaN,24.75,NaN,NaN,NaN,12.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51753,1164008,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-12-15 07:03:42+00:00,iOS,iOS,26.0,26.0,...,0.0,23.21,NaN,NaN,NaN,19.64,NaN,NaN,NaN,3.57
51754,1164009,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-12-15 07:26:43+00:00,iOS,iOS,24.0,24.0,...,NaN,23.21,NaN,NaN,NaN,19.64,NaN,NaN,NaN,3.57
51755,1164010,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-12-15 08:13:10+00:00,iOS,iOS,NaN,NaN,...,NaN,23.21,NaN,NaN,NaN,19.64,NaN,NaN,NaN,3.57
51756,1164011,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-12-15 08:31:43+00:00,iOS,iOS,NaN,NaN,...,NaN,23.21,NaN,NaN,NaN,19.64,NaN,NaN,NaN,3.57
51757,1164012,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,SOFT_LEAD,2023-12-15 08:50:00+00:00,iOS,iOS,NaN,NaN,...,NaN,23.21,NaN,NaN,NaN,19.64,NaN,NaN,NaN,3.57

In [14]:
df.columns

Index(['UserId', 'EventType', 'EventType.1', 'EventType.2', 'EventType.3',
       'EventDateTime', 'Platform', 'Platform.1', 'User.M.Age.N',
       'User.M.Age.N.1', 'User.M.Income.N', 'User.M.Income.N.1',
       'EventType_soft', 'EventType_soft.1', 'Soft_Day', 'EventDateTime_soft',
       'EventType_hot', 'EventDateTime_hot', 'DateDifference_hot',
       'ConversionRate_hot', 'EventType_mobile', 'EventDateTime_mobile',
       'DateDifference_mobile', 'ConversionRate_mobile', 'EventType_emma',
       'EventDateTime_emma', 'DateDifference_emma', 'ConversionRate_emma',
       'EventType_identity', 'EventDateTime_identity',
       'DateDifference_identity', 'ConversionRate_identity',
       'EventType_address', 'EventDateTime_address', 'DateDifference_address',
       'ConversionRate_address', 'EventType_disclosures',
       'EventDateTime_disclosures', 'DateDifference_disclosures',
       'ConversionRate_disclosures', 'EventType_agreements',
       'EventDateTime_agreements', 'DateDifference_agreements',
       'ConversionRate_agreements', 'EventType_financial',
       'EventDateTime_financial', 'DateDifference_financial',
       'ConversionRate_financial', 'EventType_portafolioS',
       'EventDateTime_portafolioS', 'DateDifference_portafolioS',
       'ConversionRate_portafolioS', 'EventType_portafolioC',
       'EventDateTime_portafolioC', 'DateDifference_portafolioC',
       'ConversionRate_portafolioC', 'EventType_identityV',
       'EventDateTime_identityV', 'DateDifference_identityV',
       'ConversionRate_identityV', 'EventType_accountIF',
       'EventDateTime_accountIF', 'DateDifference_accountIF',
       'ConversionRate_accountIF'],
      dtype='object')

In [15]:

min(df["EventDateTime_soft"])

datetime.date(2023, 1, 1)

In [16]:
import datetime

In [17]:
datetime.date(2023, 1, 1)

datetime.date(2023, 1, 1)

In [18]:
#min(df["User.M.Age.N"])
df["User.M.Age.N"].dropna().min()

17.0

In [19]:
df.value_counts("Platform")

Platform
iOS        22144
Android     6665
dtype: int64

In [20]:
df.isna().sum()

UserId                          0
EventType                       0
EventType.1                     0
EventType.2                     0
EventType.3                     0
                            ...
ConversionRate_identityV        0
EventType_accountIF         44967
EventDateTime_accountIF     44967
DateDifference_accountIF    44967
ConversionRate_accountIF        0
Length: 64, dtype: int64

In [21]:
df.value_counts("User.M.Age.N")

User.M.Age.N
22.0    991
23.0    928
21.0    901
24.0    846
19.0    818
20.0    813
26.0    750
27.0    750
25.0    744
18.0    743
28.0    705
29.0    693
30.0    682
31.0    630
34.0    613
35.0    601
32.0    598
36.0    597
37.0    597
33.0    583
39.0    582
40.0    559
38.0    539
42.0    525
41.0    514
43.0    489
44.0    448
45.0    408
46.0    356
48.0    354
47.0    330
49.0    294
51.0    290
50.0    266
52.0    254
53.0    239
54.0    222
55.0    176
56.0    173
57.0    147
58.0    133
60.0    110
59.0    101
61.0     79
62.0     63
63.0     59
64.0     45
65.0     37
68.0     27
66.0     19
69.0     16
67.0     14
17.0      9
dtype: int64

In [22]:
df.value_counts("User.M.Income.N")

User.M.Income.N
12500.0     6600
37500.0     6153
62500.0     2260
96000.0      817
150500.0     163
184000.0      90
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51758 entries, 0 to 51757
Data columns (total 64 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   UserId                      51758 non-null  int64
 1   EventType                   51758 non-null  object
 2   EventType.1                 51758 non-null  object
 3   EventType.2                 51758 non-null  object
 4   EventType.3                 51758 non-null  object
 5   EventDateTime               51758 non-null  object
 6   Platform                    28809 non-null  object
 7   Platform.1                  28809 non-null  object
 8   User.M.Age.N                22460 non-null  float64
 9   User.M.Age.N.1              22460 non-null  float64
 10  User.M.Income.N             16083 non-null  float64
 11  User.M.Income.N.1           16083 non-null  float64
 12  EventType_soft              51758 non-null  object
 13  EventType_soft.1            51758 non-null  object
 14  Soft_Day                    51758 non-null  object
 15  EventDateTime_soft          51758 non-null  object
 16  EventType_hot               45348 non-null  object
 17  EventDateTime_hot           45348 non-null  object
 18  DateDifference_hot          45348 non-null  float64
 19  ConversionRate_hot          51758 non-null  float64
 20  EventType_mobile            31970 non-null  object
 21  EventDateTime_mobile        31970 non-null  object
 22  DateDifference_mobile       31970 non-null  float64
 23  ConversionRate_mobile       51758 non-null  float64
 24  EventType_emma              33635 non-null  object
 25  EventDateTime_emma          33635 non-null  object
 26  DateDifference_emma         33635 non-null  float64
 27  ConversionRate_emma         51758 non-null  float64
 28  EventType_identity          22460 non-null  object
 29  EventDateTime_identity      22460 non-null  object
 30  DateDifference_identity     22460 non-null  float64
 31  ConversionRate_identity     51758 non-null  float64
 32  EventType_address           20446 non-null  object
 33  EventDateTime_address       20446 non-null  object
 34  DateDifference_address      20446 non-null  float64
 35  ConversionRate_address      51758 non-null  float64
 36  EventType_disclosures       20099 non-null  object
 37  EventDateTime_disclosures   20099 non-null  object
 38  DateDifference_disclosures  20099 non-null  float64
 39  ConversionRate_disclosures  51758 non-null  float64
 40  EventType_agreements        16083 non-null  object
 41  EventDateTime_agreements    16083 non-null  object
 42  DateDifference_agreements   16083 non-null  float64
 43  ConversionRate_agreements   51758 non-null  float64
 44  EventType_financial         17881 non-null  object
 45  EventDateTime_financial     17881 non-null  object
 46  DateDifference_financial    17881 non-null  float64
 47  ConversionRate_financial    51758 non-null  float64
 48  EventType_portafolioS       15735 non-null  object
 49  EventDateTime_portafolioS   15735 non-null  object
 50  DateDifference_portafolioS  15735 non-null  float64
 51  ConversionRate_portafolioS  51758 non-null  float64
 52  EventType_portafolioC       15671 non-null  object
 53  EventDateTime_portafolioC   15671 non-null  object
 54  DateDifference_portafolioC  15671 non-null  float64
 55  ConversionRate_portafolioC  51758 non-null  float64
 56  EventType_identityV         10860 non-null  object
 57  EventDateTime_identityV     10860 non-null  object
 58  DateDifference_identityV    10860 non-null  float64
 59  ConversionRate_identityV    51758 non-null  float64
 60  EventType_accountIF         6791 non-null   object
 61  EventDateTime_accountIF     6791 non-null   object
 62  DateDifference_accountIF    6791 non-null   float64
 63  ConversionRate_accountIF    51758 non-null  float64
dtypes: float64(28), int64(1), object(35)
memory usage: 25.3+ MB

In [24]:
"""
df['EventDateTime_hot'] = pd.to_datetime(df['EventDateTime_hot'], format="%Y-%m-%dT%H:%M:%S%z")
df['EventDateTime_hot'] = df['EventDateTime_hot'].dt.normalize()
df[["EventType_hot", "EventDateTime_hot", "ConversionRate_hot"]].info()
prueba = df[["UserId","EventType_hot", "EventDateTime_hot", "ConversionRate_hot"]]

# Extract month from the datetime column
prueba['Month'] = prueba['EventDateTime_hot'].dt.to_period('M')

# Group by 'Month' and calculate the mean for 'ConversionRate_hot'
mean_by_month = prueba.groupby('Month')['ConversionRate_hot'].mean().reset_index()
mean_by_month['Month'] = mean_by_month['Month'].dt.to_timestamp().dt.strftime('%Y-%m')
"""

'\ndf[\'EventDateTime_hot\'] = pd.to_datetime(df[\'EventDateTime_hot\'], format="%Y-%m-%dT%H:%M:%S%z")\ndf[\'EventDateTime_hot\'] = df[\'EventDateTime_hot\'].dt.normalize()\ndf[["EventType_hot", "EventDateTime_hot", "ConversionRate_hot"]].info()\nprueba = df[["UserId","EventType_hot", "EventDateTime_hot", "ConversionRate_hot"]]\n\n# Extract month from the datetime column\nprueba[\'Month\'] = prueba[\'EventDateTime_hot\'].dt.to_period(\'M\')\n\n# Group by \'Month\' and calculate the mean for \'ConversionRate_hot\'\nmean_by_month = prueba.groupby(\'Month\')[\'ConversionRate_hot\'].mean().reset_index()\nmean_by_month[\'Month\'] = mean_by_month[\'Month\'].dt.to_timestamp().dt.strftime(\'%Y-%m\')\n'

In [25]:
df.filter(like='hot')

,EventType_hot,EventDateTime_hot,DateDifference_hot,ConversionRate_hot
0,NaN,NaN,NaN,85.15
1,HOT_LEAD,2023-01-01T00:52:55+0000,0.0,85.15
2,HOT_LEAD,2023-01-01T01:07:59+0000,0.0,85.15
3,HOT_LEAD,2023-01-01T01:20:10+0000,0.0,85.15
4,HOT_LEAD,2023-01-01T01:23:40+0000,0.0,85.15
...,...,...,...,...
51753,HOT_LEAD,2023-12-15T07:03:57+0000,0.0,87.50
51754,HOT_LEAD,2023-12-15T07:27:00+0000,0.0,87.50
51755,HOT_LEAD,2023-12-15T08:13:45+0000,0.0,87.50
51756,HOT_LEAD,2023-12-15T08:31:54+0000,0.0,87.50
51757,HOT_LEAD,2023-12-15T08:50:23+0000,0.0,87.50

In [26]:
df[["EventType_hot", "EventDateTime_hot", "ConversionRate_hot"]]

      EventType_hot         EventDateTime_hot  ConversionRate_hot
0               NaN                       NaN               85.15
1          HOT_LEAD  2023-01-01T00:52:55+0000               85.15
2          HOT_LEAD  2023-01-01T01:07:59+0000               85.15
3          HOT_LEAD  2023-01-01T01:20:10+0000               85.15
4          HOT_LEAD  2023-01-01T01:23:40+0000               85.15
...             ...                       ...                 ...
51753      HOT_LEAD  2023-12-15T07:03:57+0000               87.50
51754      HOT_LEAD  2023-12-15T07:27:00+0000               87.50
51755      HOT_LEAD  2023-12-15T08:13:45+0000               87.50
51756      HOT_LEAD  2023-12-15T08:31:54+0000               87.50
51757      HOT_LEAD  2023-12-15T08:50:23+0000               87.50

[51758 rows x 3 columns]

In [27]:
mean_by_month.info()

NameError: name 'mean_by_month' is not defined

In [ ]:
def get_mean_event(df, event):
    prueba = df.filter(like=event)
    prueba = prueba.dropna()

    prueba[ 'EventDateTime_' + event ] = pd.to_datetime(prueba[ 'EventDateTime_' + event], format="%Y-%m-%dT%H:%M:%S%z")
    prueba[ 'EventDateTime_' + event] = prueba[ 'EventDateTime_' + event].dt.normalize()
    # Extract month from the datetime column
    prueba['Month'] = prueba['EventDateTime_' + event].dt.to_period('M')

    # Group by 'Month' and calculate the mean for 'ConversionRate_hot'
    mean_by_month = prueba.groupby(['Month', 'EventType_' + event])['ConversionRate_' + event].mean().reset_index()
    mean_by_month = mean_by_month.rename(columns={'EventType_' + event: 'EventType', 'ConversionRate_' + event : 'ConversionRate' })
    mean_by_month['Month'] = mean_by_month['Month'].dt.to_timestamp().dt.strftime('%Y-%m')

    return mean_by_month

In [ ]:
get_mean_event(df, "hot")

C:\Users\PC\AppData\Local\Temp\ipykernel_11556\1799243757.py:8: UserWarning:

Converting to PeriodArray/Index representation will drop timezone information.

      Month EventType  ConversionRate
0   2023-01  HOT_LEAD       89.056392
1   2023-02  HOT_LEAD       89.877910
2   2023-03  HOT_LEAD       88.789303
3   2023-04  HOT_LEAD       87.489774
4   2023-05  HOT_LEAD       83.369755
5   2023-06  HOT_LEAD       85.938726
6   2023-07  HOT_LEAD       85.930549
7   2023-08  HOT_LEAD       85.173047
8   2023-09  HOT_LEAD       86.086293
9   2023-10  HOT_LEAD       89.136490
10  2023-11  HOT_LEAD       89.292371
11  2023-12  HOT_LEAD       88.758832

In [ ]:
get_mean_event(df, "financial")

C:\Users\PC\AppData\Local\Temp\ipykernel_11556\1799243757.py:8: UserWarning:

Converting to PeriodArray/Index representation will drop timezone information.

      Month                    EventType  ConversionRate
0   2023-01  FINANCIAL_PROFILE_COMPLETED       39.595921
1   2023-02  FINANCIAL_PROFILE_COMPLETED       37.896312
2   2023-03  FINANCIAL_PROFILE_COMPLETED       36.646811
3   2023-04  FINANCIAL_PROFILE_COMPLETED       37.817446
4   2023-05  FINANCIAL_PROFILE_COMPLETED       37.625043
5   2023-06  FINANCIAL_PROFILE_COMPLETED       35.951867
6   2023-07  FINANCIAL_PROFILE_COMPLETED       36.671258
7   2023-08  FINANCIAL_PROFILE_COMPLETED       35.591573
8   2023-09  FINANCIAL_PROFILE_COMPLETED       37.437383
9   2023-10  FINANCIAL_PROFILE_COMPLETED       29.731694
10  2023-11  FINANCIAL_PROFILE_COMPLETED       28.695120
11  2023-12  FINANCIAL_PROFILE_COMPLETED       26.872681

In [ ]:
concat_df = pd.concat([get_mean_event(df, "hot"), get_mean_event(df, "financial")], ignore_index=True)

concat_df

C:\Users\PC\AppData\Local\Temp\ipykernel_11556\1799243757.py:8: UserWarning:

Converting to PeriodArray/Index representation will drop timezone information.

C:\Users\PC\AppData\Local\Temp\ipykernel_11556\1799243757.py:8: UserWarning:

Converting to PeriodArray/Index representation will drop timezone information.

      Month                    EventType  ConversionRate
0   2023-01                     HOT_LEAD       89.056392
1   2023-02                     HOT_LEAD       89.877910
2   2023-03                     HOT_LEAD       88.789303
3   2023-04                     HOT_LEAD       87.489774
4   2023-05                     HOT_LEAD       83.369755
5   2023-06                     HOT_LEAD       85.938726
6   2023-07                     HOT_LEAD       85.930549
7   2023-08                     HOT_LEAD       85.173047
8   2023-09                     HOT_LEAD       86.086293
9   2023-10                     HOT_LEAD       89.136490
10  2023-11                     HOT_LEAD       89.292371
11  2023-12                     HOT_LEAD       88.758832
12  2023-01  FINANCIAL_PROFILE_COMPLETED       39.595921
13  2023-02  FINANCIAL_PROFILE_COMPLETED       37.896312
14  2023-03  FINANCIAL_PROFILE_COMPLETED       36.646811
15  2023-04  FINANCIAL_PROFILE_COMPLETED       37.817446
16  2023-05  FINANCIAL_PROFILE_COMPLETED       37.625043
17  2023-06  FINANCIAL_PROFILE_COMPLETED       35.951867
18  2023-07  FINANCIAL_PROFILE_COMPLETED       36.671258
19  2023-08  FINANCIAL_PROFILE_COMPLETED       35.591573
20  2023-09  FINANCIAL_PROFILE_COMPLETED       37.437383
21  2023-10  FINANCIAL_PROFILE_COMPLETED       29.731694
22  2023-11  FINANCIAL_PROFILE_COMPLETED       28.695120
23  2023-12  FINANCIAL_PROFILE_COMPLETED       26.872681

In [ ]:
import plotly.express as px

concat_df['ConversionRate'] = concat_df['ConversionRate'].round(2)  # Round ConversionRate to two decimal places
# Create a scatter plot with a trendline, color by 'EventType_hot', and facet by 'Month'
fig = px.line(concat_df,
                  x='Month', y='ConversionRate', color='EventType', markers=True,
                  text='ConversionRate')

fig.update_traces(textposition='bottom center')
# Show the plot
fig.show()

In [ ]:
df[["EventType_mobile", "EventDateTime_mobile", "DateDifference_mobile"]]

      EventType_mobile      EventDateTime_mobile  DateDifference_mobile
0                  NaN                       NaN                    NaN
1      MOBILE_VERIFIED  2023-01-01T00:53:40+0000                    0.0
2      MOBILE_VERIFIED  2023-01-01T01:09:21+0000                    0.0
3      MOBILE_VERIFIED  2023-01-01T01:20:54+0000                    0.0
4      MOBILE_VERIFIED  2023-01-01T01:25:54+0000                    0.0
...                ...                       ...                    ...
51753              NaN                       NaN                    NaN
51754              NaN                       NaN                    NaN
51755              NaN                       NaN                    NaN
51756              NaN                       NaN                    NaN
51757              NaN                       NaN                    NaN

[51758 rows x 3 columns]